html{
    height: 100%;
}
body{
    background: linear-gradient(45deg, #f816bd, #c4ae10);
    transition: .5s ease-in;
}

.container{
    width: 600px;
    margin-top: 100px;
    font-size: 2em; 
}

.out{
    margin-bottom: 15px;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    
}

.btn{
    padding: 20px 20px;
    margin-bottom: 15px;
    font-size: 30px;
    background-color: darkgrey;
    border: none;
    background: linear-gradient(80deg, #1601ca, #644beb,#0300b8);
    box-shadow: 0px 1px 3px 1px rgb(0, 19, 114);
}

.btn:hover{
    background: linear-gradient(80deg, #644beb, #0300b8,#644beb);
}
.btn:focus{
    outline:0;
    box-shadow: 0 0 0 0 rgb(0,0,0);
    transition: none;
}
.btn:visited{
    box-shadow: 0px 1px 3px 1px rgb(0, 19, 114);
}

.lblPass{
    float: left;
    font-size: 25px;
    background-color: orange;
    padding: 15px 30px;
    width: 90%
}

.in{
    float: right;
    padding: 7.5px 11px;
    transition: .5s;
}

.in:focus{
    border-color: black;
    border-width: 2px;
    outline: 0;
    transition: .5s;
}

.clock-block{
    margin-top: 15px;
    margin-left: -1px;
    background-color: blueviolet;
    width: 100%;

}

.cl-lbl{
    padding: 0px 40px;
    font-size: 40px;
    background-color: blueviolet;
}

/*
span{
    font-size: 60px;
}
*/

.txtClock{
    padding: 2px;
    width: 60px;
    text-align:center;
    
}

.tblock{
    width: 100%;
    
}